/* .inside::-webkit-scrollbar {
  display: none;
} */

/* .inside ul li {
  display: inline-block;
  margin: 0 10px;
  background: #ccc;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  justify-content: center;
  font-weight: 500;
} */
/* 
.inside li:active, .inside li:hover {
  background-color: aqua;
} */